<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head
	th:include="/common/cdn/header.html::header(title=#{m00Title})"></head>
<body>
	<!-- menu file include -->
	<div th:include="/common/navbar-home.html::navbar-home"></div>
	<!-- menu file include -->
	<div class="container jumbotron">
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-12 col-xs-10"></div>
		</div>
		<body>
</html>