<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head
	th:include="/common/cdn/cdn-header.html::cdn-header(pageTitle='Login')">
</head>
<body>
	<form th:action="@{/login}" method="post">
		<div class="container jumbotron ">
			<div class="container jumbotron mt-5 w-50 p-3 ">
				<div class="row justify-content-center align-items-center">
					<h3>ログイン</h3>
				</div>
				<!-- Input User Email -->
				<div class="row">
					<div class="col-md-4 ml-md-auto">
						<div class="form-group pl-5">
							<!-- <label for="exampleInputEmail1" class="font-weight-bolder text-center">社員ID</label>  -->
							<span class="align-middle font-weight-bolder text-center">メール</span>
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group">
							<input type="text" name="email"
								class="form-control form-control-sm" id="exampleInputEmail1"
								aria-describedby="emailHelp">
						</div>
					</div>
				</div>

				<!-- Input Password -->
				<div class="row">
					<div class="col-md-4 ml-md-auto">
						<div class="form-group pl-5">
							<span class="align-middle font-weight-bolder text-center">パスワード
							</span>
						</div>
					</div>

					<div class="col-sm">
						<div class="form-group">
							<input type="password" name="password"
								class="form-control form-control-sm" id="exampleInputEmail1"
								aria-describedby="emailHelp">
						</div>
					</div>
				</div>

				<!-- Forgot Password Link -->
				<div class="text-right">
					<a href="#" class="font-weight-bold "><u>パスワード忘れた方</u></a>
				</div>

				<!-- Button -->
				<div class="row mt-2">
					<div class="col-12 text-center">
						<input class="btn btn-primary" type="submit" value="Submit"
							onclick="this.form.submit();" ondblclick="this.form.submit();">
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</form>
</body>
</html>