<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/common/cdn/header.html::header(title=#{m02Title})">
</head>
<body>
	<div th:include="/common/navbar-home.html::navbar-home"></div>
	<div id="msgArea" class="pt-5"></div>
	<form th:action="@{/password-change}" method="post">
		<div class="form-group col-md-4 offset-md-4 col-sm-8 offset-sm-2">
			<label class="mb-0" for="txtCurrentPassword"><i
				class="fas fa-unlock pr-2"></i><span th:text="#{lblCurrentPassword}"></span>
			</label> 
			<input type="password" name="currentPassword"
				class="form-control form-control-sm rounded-0" id="txtCurrentPassword"
				th:placeholder="#{placeHolder(#{lblCurrentPassword})}"> 
		</div>
		<div class="form-group col-md-4 offset-md-4 col-sm-8 offset-sm-2">
			<label class="mb-0" for="txtNewPassword"><i
				class="fas fa-unlock pr-2"></i><span th:text="#{lblNewPassword }"></span>
			</label> 
			<input type="password" name="newPassword"
				class="form-control form-control-sm rounded-0" id="txtNewPassword"
				th:placeholder="#{placeHolder(#{lblNewPassword })}"> 
		</div>
		<div class="form-group col-md-4 offset-md-4 col-sm-8 offset-sm-2">
			<label class="mb-0" for="txtConfirmPassword"><i
				class="fas fa-unlock pr-2"></i><span th:text="#{lblConfirmPassword}"></span>
			</label> 
			<input type="password" name="currentPassword"
				class="form-control form-control-sm rounded-0" id="txtConfirmPassword"
				th:placeholder="#{placeHolder(#{lblConfirmPassword})}"> 
		</div>
		<div class="form-group col-md-4 offset-md-4 col-sm-8 offset-sm-2 pt-2">
			<button type="submit"
				class="btn btn-sm btn-color btn-block rounded-0"
				onclick="this.form.submit();" ondblclick="this.form.submit();">
				<i class="fas fa-edit"></i><span th:text="#{btnEdit}"></span>
			</button>
		</div>
	</form>
</body>
</html>