<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
</script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<title>パスワード変更 </title>
</head>
<body>
<!-- menu file include -->
<div th:include="/CG011_main-menu.html::menu"></div>
<!-- menu file include -->
<!--スワード変更Start -->
<div class="container" style="padding-top: 64px; padding-bottom: 64px;">
	<div class="row justify-content-center">
		<!-- <div class="col-lg-8 col-md-12 col-xs-10"> -->
        <div class="col-xs-6 col-sm-6 col-md-6　">
            <form method="post" name="update" th:action="@{/update}">
                <fieldset>
                	<div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 offset-xs-9 offset-sm-3 offset-md-3">	
                    		<h3>パスワード変更</h3>
                    	</div>
                    </div>

                    <div th:if="${successful}">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            	パスワード変更しました！
                           <!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							</button> -->
                        </div>
                    </div>
                    
                    <div th:if="${notsamenewpassword}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                           	「 新パスワード」と「新パスワード（確認用）」が一致しません！
                           	<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							</button> -->
                        </div>
                    </div>
                    <div th:if="${notsameoldpassword}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          	「 現在パスワード 」が間違っています！
                          	<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							</button> -->                    
                        </div>
                    </div>
                    
                    <div class="form-group row">
                    	<label for="Currentpassword" class="col-sm-5 col-form-label">現在パスワード<span class="text-danger">*</span></label>
	                    <div class="col-sm-7">
	                        <input type="password" name="Currentpassword" id="currentpassword" class="form-control input-lg"
	                               placeholder="現在パスワード " required autofocus="autofocus"/>
	                     </div>          
                    </div>

                    <div class="form-group row">
                    	<label for="newpassword" class="col-sm-5 col-form-label">新パスワード<span class="text-danger">*</span></label>
                    	<div class="col-sm-7">
	                        <input type="password" name="newpassword" id="newpassword" class="form-control input-lg"
	                               placeholder="新パスワード" required autofocus="autofocus"/>
                        </div>       
                    </div>
                    <div class="form-group row">
                    	<label for="confirmpassword" class="col-sm-5 col-form-label">新パスワード（確認用）<span class="text-danger">*</span></label>
                    	<div class="col-sm-7">
	                        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control input-lg"
	                               placeholder="新パスワード（確認用）" required/>
                         </div>      
                    </div>
                    
					<div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 offset-xs-3 offset-sm-3 offset-md-3">
                           <!--<input type="submit" class="btn btn-lg btn-primary btn-block" value="Save" />  --> 
                           <button type="submit" class="btn btn-lg btn-primary btn-block">更新</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

</body>
</html>