<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>社員詳細情報</title>
<link rel="icon" href="https://getbootstrap.com/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js"
	type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
<link rel="import" href="/CG011_main-menu.html">
</head>
<body>
	<!-- menu file include -->
	<div th:include="/CG011_main-menu.html::menu"></div>
	<!-- menu file include -->
	<div class="container jumbotron">
		<form>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab1">初期情報</a></li>
				<li><a data-toggle="tab" href="#tab2">スキル情報</a></li>
				<li><a data-toggle="tab" href="#tab3">派遣情報</a></li>
			</ul>
			<div class="tab-content">
				<!--	 詳細情報	 -->
				<div id="tab1" class="tab-pane fade in active">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-12 col-xs-10">
							<div id="tab1">
								<form th:action="@{/emp-detail/{id}(id=*{employeeId})}" th:method="post" th:object="${m12Model}">
									<div class="form-group">
											<h5 th:text="${message}"></h5>
									</div>
									<div class="border border-primary rounded">
										<div class="form-group">
											<div class="row">
												<div class="col-sm">
													<div class="form-group">
														<label for="employeeId">社員ID:</label> <input type="text"
															class="form-control form-control-sm" name="employeeId"
															 th:field="*{employeeId}" aria-describedby="employeeId" placeholder="社員ID">
														<small id="employeeId" class="form-text text-muted"></small>
													</div>
												</div>
												<div class="col-sm">
													<div class="form-group"></div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm">
													<div class="form-group">
														<label for="firstName">名前:</label> <input type="text"
															class="form-control form-control-sm" name="firstName"
															th:field="*{firstName}" aria-describedby="firstName" placeholder="名前"> <small
															id="firstName" class="form-text text-muted"></small>
													</div>
												</div>
												<div class="col-sm">
													<div class="form-group">
														<label for="lastName">名前( 「仮名」) :</label> <input
															type="text" class="form-control form-control-sm" name="lastName" 
															th:field="*{lastName}" aria-describedby="lastName"
															placeholder="名前( 「仮名」) "> <small id="lastName"
															class="form-text text-muted"></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm">
													<div class="form-group">
														<label for="gender">性:</label> <input type="text"
															class="form-control form-control-sm" name="gender"
															th:field="*{gender}" aria-describedby="gender" placeholder="性"> <small
															id="gender" class="form-text text-muted"></small>
													</div>
												</div>
												<div class="col-sm">
													<div class="form-group">
														<label for="email">メールアドレス:</label> <input type="text"
															class="form-control form-control-sm" name="email"
															th:field="*{email}" aria-describedby="email" placeholder="メールアドレス">
														<small id="email" class="form-text text-muted"></small>
													</div>
												</div>
											</div>
											<button type="submit" class="btn btn-primary btn-sm">編集</button>
										</div>
									</div>
								</form>
								<!--	 初期情報		 -->
								<br />
								<!--	 詳細情報		 -->
								<form class="form-horizontal" role="form" method="post" name="employee_info_edit" action="" accept-charset="UTF8">
									<div class="form-group">
										<h5>
											<b>詳細情報</b>
										</h5>
									</div>
									<div class="border border-primary rounded">
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample0"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample0">詳細情報 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample0">
													<label for="nationality">国籍:</label> <input type="text"
														class="form-control form-control-sm" name="nationality"
														aria-describedby="nationality" placeholder="国籍">
													<small id="nationality" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample0">
													<label for="phone">電話番号:</label> <input type="text"
														class="form-control form-control-sm" name="phone"
														aria-describedby="phone" placeholder="電話番号"> <small
														id="phone" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample0">
													<label for="group_name">グループ名:</label> <input type="text"
														class="form-control form-control-sm" name="group_name"
														aria-describedby="group_name" placeholder="グループ名">
													<small id="group_name" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample0">
													<label for="department_name">部署名:</label> <input
														type="text" class="form-control form-control-sm"
														name="department_name" aria-describedby="department_name"
														placeholder="部署名"> <small id="department_name"
														class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample0">
													<label for="band">バンド:</label> <input type="text"
														class="form-control form-control-sm" name="band"
														aria-describedby="band" placeholder="バンド"> <small
														id="band" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample0">
													<label for="hired_date">入社日:</label> <input type="text"
														class="form-control form-control-sm" name="hired_date"
														aria-describedby="hired_date" placeholder="入社日">
													<small id="hired_date" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<!--	 詳細情報		 -->
										<!-- 	プライバシー情報	 -->
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample1"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample1">プライバシー情報 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="residenceNo">在留番号:</label> <input type="text"
														class="form-control form-control-sm" name="residenceNo"
														aria-describedby="residenceNo" placeholder="在留番号">
													<small id="residenceNo" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="residenceStatus">在留資格:</label> <input
														type="text" class="form-control form-control-sm"
														name="residenceStatus" aria-describedby="residenceStatus"
														placeholder="在留資格"> <small id="residenceStatus"
														class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="residencePeriod">在留期間:</label> <input
														type="text" class="form-control form-control-sm"
														name="residencePeriod" aria-describedby="residencePeriod"
														placeholder="在留期間"> <small id="residencePeriod"
														class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="residenceExpire">在留期間（満了日）:</label> <input
														type="text" class="form-control form-control-sm"
														name="residenceExpire" placeholder="在留期間（満了日）"> <small
														id="residenceExpire" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="passportType">パスポートの種類:</label> <input
														type="text" class="form-control form-control-sm"
														name="passportType" aria-describedby="passportType"
														placeholder="パスポートの種類"> <small id="passportType"
														class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="passportNum">パスポートの番号:</label> <input
														type="text" class="form-control form-control-sm"
														name="passportNum" aria-describedby="passportNum"
														placeholder="パスポートの番号"> <small id="passportNum"
														class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="passportCountryCode">パスポート国番号:</label> <input
														type="text" class="form-control form-control-sm"
														name="passportCountryCode"
														aria-describedby="passportCountryCode"
														placeholder="パスポート国番号"> <small
														id="passportCountryCode" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="passportAuthority">パスポート有効期限:</label> <input
														type="text" class="form-control form-control-sm"
														name="passportAuthority"
														aria-describedby="passportAuthority"
														placeholder="パスポート有効期限"> <small
														id="passportAuthority" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="passportExpiredDate">パスポート発行日:</label> <input
														type="text" class="form-control form-control-sm"
														id="passportExpiredDate" placeholder="パスポート発行日">
													<small id="passportExpiredDate"
														class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="passportIssuedDate">パスポート機関:</label> <input
														type="text" class="form-control form-control-sm"
														id="passportIssuedDate" placeholder="パスポート機関"> <small
														id="passportIssuedDate" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="bankAccount">銀行口座:</label> <input type="text"
														class="form-control form-control-sm" name="bankAccount"
														aria-describedby="bankAccount" placeholder="銀行口座">
													<small id="bankAccount" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="myNumber">個人番号:</label> <input type="text"
														class="form-control form-control-sm" name="myNumber"
														aria-describedby="myNumber" placeholder="個人番号"> <small
														id="myNumber" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="insuranceType">保険タイプ:</label> <input
														type="text" class="form-control form-control-sm"
														name="insuranceType" aria-describedby="insuranceType"
														placeholder="保険タイプ"> <small id="insuranceType"
														class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="insuredNum">被保険者番号:</label> <input type="text"
														class="form-control form-control-sm" name="insuredNum"
														aria-describedby="insuredNum" placeholder="被保険者番号">
													<small id="insuredNum" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="insuredQualifiedDate">被保険者認定日:</label> <input
														type="text" class="form-control form-control-sm"
														name="insuredQualifiedDate" placeholder="被保険者認定日">
													<small id="insuredQualifiedDate"
														class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="insurerNum">保険会社番号:</label> <input type="text"
														class="form-control form-control-sm" name="insurerNum"
														aria-describedby="insurerNum" placeholder="保険会社番号">
													<small id="insurerNum" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1">
													<label for="insurerName">保険会社名:</label> <input type="text"
														class="form-control form-control-sm" name="insurerName"
														aria-describedby="insurerName" placeholder="保険会社名">
													<small id="insurerName" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample1"></div>
											</div>
										</div>
										<!-- 	プライバシー情報	  -->
										<!-- 	住所		 -->
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample2"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample2">住所 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample2">
													<label for="postal_code">郵便番号:</label> <input type="text"
														class="form-control form-control-sm" name="postal_code"
														aria-describedby="postal_code" placeholder="郵便番号">
													<small id="postal_code" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample2">
													<label for="address">住所:</label>
													<textarea class="form-control form-control-sm" name="address"
														aria-describedby="address" placeholder="住所"></textarea>
													<small id="address" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<!-- 	住所		 -->
										<!-- 	交通情報		 -->
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample3"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample3">交通情報 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample3">
													<label for="commuterPassExpiredDate">定期券パス有効期限:</label> <input
														type="text" class="form-control form-control-sm"
														name="commuterPassExpiredDate" placeholder="定期券パス有効期限">
													<small id="commuterPassExpiredDate"
														class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample3"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample3">
													<label for="startStation">出発駅:</label> <input type="text"
														class="form-control form-control-sm" name="startStation"
														aria-describedby="startStation" placeholder="出発駅">
													<small id="startStation" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample3">
													<label for="endStation">到着駅:</label> <input type="text"
														class="form-control form-control-sm" name="endStation"
														aria-describedby="endStation" placeholder="到着駅">
													<small id="endStation" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
										<!-- 	交通情報		 -->
										<button type="submit" name="btnedit"
											class="btn btn-primary btn-sm">編集</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--	 詳細情報	 -->
				<!--	 スキル情報	 -->
				<div id="tab2" class="tab-pane fade">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-12 col-xs-10">
							<div id="tab2" class="tab-pane fade in active">
								<br />
								<form class="form-horizontal" role="form" method="post"
									name="skill_edit" action="/skill_edit" accept-charset="UTF8">
									<div class="form-group">
										<h5>
											<b>スキル情報</b>
										</h5>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm">
												<div class="form-group">
													<label for="employeeId">社員ID:</label> <input type="text"
														class="form-control form-control-sm" name="employeeId"
														aria-describedby="employeeId" placeholder="社員ID">
													<small id="employeeId" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label for="name">名前:</label> <input type="text"
														class="form-control form-control-sm" name="name"
														aria-describedby="name" placeholder="名前"> <small
														id="name" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
									</div>
									<div class="border border-primary rounded">
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample4"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample4">スキル情報 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample4">
													<table id="example"
														class="table table-sm table-striped table-bordered nowrap bg-white"
														style="width: 100%">
														<thead>
															<tr>
																<th>言語・開発方法</th>
																<th>関連技術(OS,DB,MW,etc)</th>
																<th>業務範囲</th>
																<th>ューマンスキル・業務経歴</th>
															</tr>
														</thead>
														<tbody class="bg-white">
															<tr>
																<td><small>Java</small></td>
																<td><small>Window</small></td>
																<td><small>Socialサイト</small></td>
																<td><small>基本設計</small></td>
															</tr>
															<tr>
																<td><small>PHP</small></td>
																<td><small>Linux</small></td>
																<td><small>デザインコーデイング</small></td>
																<td><small>詳細設計</small></td>
															</tr>
															<tr>
																<td><small>ACCESS</small></td>
																<td><small>Oracle</small></td>
																<td><small>社員情報管理</small></td>
																<td><small>プロジェクト作成</small></td>
															</tr>
															<tr>
																<td><small>JavaScript</small></td>
																<td><small>MySQL</small></td>
																<td><small>メンタルヘルスシステム</small></td>
																<td><small>単体テスト</small></td>
															</tr>
															<tr>
																<td><small>Flash</small></td>
																<td><small>WampServer</small></td>
																<td><small>セキュリティ室管理</small></td>
																<td><small>結合テスト</small></td>
															</tr>
														</tbody>
													</table>

												</div>
											</div>

										</div>
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample5"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample5">業務経歴 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample5">
													<table id="example2"
														class="table table-sm table-striped table-bordered nowrap bg-white"
														style="width: 100%">
														<thead>
															<tr>
																<th>No</th>
																<th>期限</th>
																<th>業務内容</th>
																<th>開発環境</th>
																<th>作業内容</th>
																<th>SE/PG</th>
																<th>役割</th>
															</tr>
														</thead>
														<tbody class="bg-white">
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<button type="submit" name="btnedit"
											class="btn btn-primary btn-sm">編集</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--	 スキル情報	 -->

				<!--	 派遣情報	 -->
				<div id="tab3" class="tab-pane fade">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-12 col-xs-10">
							<div id="tab3" class="tab-pane fade in active">
								<br />
								<form class="form-horizontal" role="form" method="post"
									name="haken_edit" action="/haken_edit" accept-charset="UTF8">
									<div class="form-group">
										<h5>
											<b>派遣情報</b>
										</h5>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm">
												<div class="form-group">
													<label for="employeeId">社員ID:</label> <input type="text"
														class="form-control form-control-sm" id="employeeId"
														aria-describedby="employeeId" placeholder="社員ID">
													<small id="employeeId" class="form-text text-muted"></small>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-group">
													<label for="name">名前:</label> <input type="text"
														class="form-control form-control-sm" id="name"
														aria-describedby="name" placeholder="名前"> <small
														id="name" class="form-text text-muted"></small>
												</div>
											</div>
										</div>
									</div>
									<div class="border border-primary rounded">
										<p>
											<a data-toggle="collapse" href="#multiCollapseExample6"
												role="button" aria-expanded="false"
												aria-controls="multiCollapseExample6">派遣情報 </a>
										</p>
										<div class="row">
											<div class="col-sm">
												<div class="collapse multi-collapse"
													id="multiCollapseExample6">
													<table id="example"
														class="table table-sm table-striped table-bordered nowrap bg-white"
														style="width: 100%">
														<thead>
															<tr>
																<th>番号</th>
																<th>会社名</th>
																<th>部著名</th>
																<th>名前</th>
																<th>名前（仮名）</th>
																<th>電話番号</th>
																<th>メールアドレス</th>
																<th>契約開始日</th>
																<th>郵便番号</th>
																<th>住所</th>
																<th>更新</th>
															</tr>
														</thead>
														<tbody class="bg-white">
															<tr>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td class="text-center"><small><a href="#">編</a></small></td>
															</tr>
															<tr>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td class="text-center"><small><a href="#">編</a></small></td>
															</tr>
															<tr>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td class="text-center"><small><a href="#">編</a></small></td>
															</tr>
															<tr>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td class="text-center"><small><a href="#">編</a></small></td>
															</tr>
															<tr>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td><small>xxxxxx</small></td>
																<td class="text-center"><small><a href="#">編</a></small></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--	 派遣情報	 -->
			</div>
		</form>
	</div>
</body>
<script type="text/javascript">
	$('#commuterPassExpiredDate').datepicker({
		uiLibrary : 'bootstrap4'
	});
	$('#hiredDate').datepicker({
		uiLibrary : 'bootstrap4'
	});
	$('#passportIssuedDate').datepicker({
		uiLibrary : 'bootstrap4'
	});
	$('#passportExpiredDate').datepicker({
		uiLibrary : 'bootstrap4'
	});
	$('#insuredQualifiedDate').datepicker({
		uiLibrary : 'bootstrap4'
	});
	$('#residenceExpire').datepicker({
		uiLibrary : 'bootstrap4'
	});
</script>
</html>