<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>お客様登録</title>
<link rel="icon" href="https://getbootstrap.com/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js"
	type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />

</head>
<body>
	<!-- menu file include -->
	<div th:include="/common/navbar-home.html::navbar-home"></div>
	<!-- menu file include -->
	<div class="container jumbotron">
	<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2"
			th:if="${message}">
			<div class="alert alert-success rounded-0">
				<small th:text="${message}"></small>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-xs-10">
		<form class="form-horizontal" role="form" method="post" th:action="@{'/'+${m13Model.id}+'/cust-edit'}" th:object="${m13Model}">
		<div class="row col">
			<div class="col-md-4">
				<h3>お客様登録</h3>
				<hr>
			</div>
		</div>
		<input type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label for="InputCompany">会社名<span class="text-danger">*</span></label>
				<input type ="text" id="txtCompanyName" th:field="*{companyName}" class="form-control form-control-sm" placeholder="会社名">
			</div>
			<div class="form-group">
				<label for="InputDate">契約開始日<span class="text-danger">*</span></label> 
				<input type="text" id = "txtcontractStartDate" th:field="*{contractStartDate}" class="form-control form-control-sm" placeholder="契約開始日">
			</div>
			<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<label for="InputCode">郵便番号<span class="text-danger">*</span></label>
								<input type="text"  id = "txtpostalCode" th:field="*{postalCode}" class="form-control form-control-sm" placeholder="郵便番号　">
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<label for="InputAddress">住所<span class="text-danger">*</span></label>
								<textarea id = "txtaddress" th:field="*{address}" class="form-control form-control-sm" rows="3" placeholder="住所"></textarea>
							</div>
						</div>
					</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label for="InputContactPerson">責任者姓<span class="text-danger">*</span></label> 
						<input type="text" id ="txtcontactPersonFirstName" th:field="*{contactPersonFirstName}" class="form-control form-control-sm"  placeholder="責任者姓">
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label for="InputContactPerson">責任者姓かな<span class="text-danger">*</span></label> 
						<input type="text" id = "txtcontactPersonFirstNameKana" class="form-control form-control-sm" th:field="*{contactPersonFirstNameKana}" placeholder="責任者姓かな">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label for="InputContactPerson">責任者名<span class="text-danger">*</span></label> 
						<input type="text" id ="txtcontactPersonLastName" th:field="*{contactPersonLastName}" class="form-control form-control-sm" placeholder="責任者名">
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label for="InputContactPerson">責任者名かな<span class="text-danger">*</span></label>
						 <input type="text"	id ="txtcontactPersonLastNameKana" class="form-control form-control-sm" 
						     th:field="*{contactPersonLastNameKana}" placeholder="責任者名かな">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label for="exampleInputEmail1">責任者メール<span class="text-danger">*</span></label> 
						<input type="email" class="form-control form-control-sm" th:field="*{contactEmail}" placeholder="責任者メール"> 
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label for="InputCode">責任者電話番号<span class="text-danger">*</span></label> 
						<input type="text" th:field="*{contactPhone}" class="form-control form-control-sm" id ="txtcontactPhone" placeholder="責任者電話番号">
					</div>
				</div>
				</div>
			<button type="submit" class="btn btn-primary" disabled="disabled">登録</button>
			<button type="submit" class="btn btn-primary">更新</button>
			<button type="submit" class="btn btn-primary">クリア</button>
		</form>
	</div>
	</div>
	</div>
<script type="text/javascript">
$('#startDate').datepicker({
	uiLibrary : 'bootstrap4'
});
</script>

</body>
</html>