<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/common/cdn/header.html::header(title=#{m14Title})">

<script>
		$('#dispatchStartDate').datepicker({
			uiLibrary : 'bootstrap4'
		});
		$('#dispatchEndDate').datepicker({
			uiLibrary : 'bootstrap4'
		});
</script>
</head>
<body>
	<div th:include="/common/navbar-home.html::navbar-home"></div>
	<div id="msgArea" class="pt-5"></div>
	<form th:action="@{/emp-haken-create}" th:object="${m14Model}"
		method="post">
		<div class="row">
			<div class="form-group col-md-3 offset-md-3">
				<label class="mb-0" for="txtEmployeeCode"> <i class="fas fa-user pr-2"></i><span th:text="#{lblEmployeeCode}"></span>
				</label> <input type="text" name="employeeCode"
					class="form-control form-control-sm rounded-0" id="txtEmployeeCode"
					th:placeholder="#{placeHolder(#{lblEmployeeCode})}">
			</div>
			<div class="form-group col-md-3">
				<label class="mb-0" for="txtGroupId"> <i class="fas fa-users pr-2"></i><span th:text="#{lblGroupId}"></span>
				</label> <input type="text" name="groupId"
					class="form-control form-control-sm rounded-0" id="txtGroupId"
					th:placeholder="#{placeHolder(#{lblGroupId})}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-3 offset-md-3">
				<label class="mb-0" for="cboGroupId"><i class="fas fa-users pr-2"></i><span th:text="#{lblGroupId}"></span>
				</label> 
				<select class="form-control form-control-sm rounded-0" id="cboGroupId" name="groupId">
					<option selected th:text="#{cboPlaceHolder(#{lblGroupId})}"></option>
					<option th:each="empGroup: ${empGroups}" th:text="${empGroup.name}" th:value="${empGroup.id}"></option>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-3 offset-md-3">
				<label class="mb-0" for="cboCompanyCode"> <i class="fas fa-landmark pr-2"></i><span th:text="#{lblCompanyCode}"></span>
				</label> 
				<select class="form-control form-control-sm rounded-0" id="cboCompanyCode" name="companyCode">
					<option selected th:text="#{cboPlaceHolder(#{lblCompanyCode})}"></option>
					<option th:each="company:${companies}" th:utext="${company.companyName}" th:value="${company.id}"></option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label class="mb-0" for="cboDispatchDeptId"> <i class="fas fa-building pr-2"></i><span th:text="#{lbldispatchDeptId}"></span>
				</label> 
				<select class="form-control form-control-sm rounded-0" id="cboDispatchDeptId" name="dispatchDeptId">
					<option selected th:text="#{cboPlaceHolder(#{lbldispatchDeptId})}"></option>
					<option th:each="disDept:${dispatchDepartments}" th:utext="${disDept.DispatchDepartmentName}" th:value="${disDept.id}"></option>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-3 offset-md-3">
				<label class="mb-0" for="dispatchStartDate"><i class="far fa-calendar-alt pr-2"></i><span th:text="#{lbldispatchStartDate}"></span>
				</label>
				<input type="date" class="form-control form-control-sm rounded-0" id="dispatchStartDate"
						name="dispatchStartDate" th:placeholder="#{placeHolder(#{lbldispatchStartDate})}">
			</div>
			<div class="form-group col-md-3">
				<label class="mb-0" for="dispatchEndDate"> <i class="far fa-calendar-alt pr-2"></i><span th:text="#{lbldispatchEndDate}"></span>
				</label>
				<input type="date" class="form-control form-control-sm rounded-0" id="dispatchEndDate"
						name="dispatchEndDate" th:placeholder="#{placeHolder(#{lbldispatchEndDate})}">
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-3 offset-md-3">
				<label class="mb-0" for="txtIncome"> <i class="fas fa-yen-sign pr-2"></i><span th:text="#{lblIncome}"></span>
				</label>
				<input type="text" class="form-control form-control-sm rounded-0" id="txtIncome"
						name="income" th:placeholder="#{placeHolder(#{lblIncome})}">
			</div>
		</div>
		<div class="row pt-3">
			<div class="form-group col-md-3 offset-md-5">
				<button type="submit"
					class="btn btn-sm btn-color btn-block rounded-0"
					onclick="this.form.submit();" ondblclick="this.form.submit();">
					<i class="fas fa-edit pr-2"></i><span th:text="#{btnSave}"></span>
				</button>
			</div>
		</div>
	</form>
	
</body>
</html>