<!-- 
 作成日：　2018年12月22日
  作成者：　モープィンピュー
  更新日：
  更新者：
  説明　：　社員登録html
 -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>社員初期情報登録</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="https://getbootstrap.com/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
</head>
<body>
<!-- menu file include -->
<div th:include="/CG011_main-menu.html::menu"></div>
<!-- menu file include -->
	<div class="container jumbotron">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-xs-10">
				<form class="form-horizontal" role="form" method="post" th:action="@{/saveEmployee}" th:object="${employees}">
					<div class="form-group">
						<h5 th:text="${message}"></h5>
					</div>
					<div class="form-group">
						<label for="employeeId">社員ID:</label>
						<span class="text-danger">*</span>
						<input type="text" class="form-control form-control-sm" name="employeeId"
							placeholder="社員ID" > 
						<small id="employeeId" class="form-text text-muted"></small>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<label for="firstName">姓:</label>
								<span class="text-danger">*</span>
								<input type="text" class="form-control form-control-sm" name="firstName"
									placeholder="姓" > 
								<small id="firstName" class="form-text text-muted"></small>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<label for="lastName">名:</label>
								<span class="text-danger">*</span>
								<input type="text" class="form-control form-control-sm" name="lastName"
									placeholder="名" > 
								<small id="lastName" class="form-text text-muted"></small>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<label for="firstNameKana">姓カナ:</label> 
								<span class="text-danger">*</span>
								<input type="text" class="form-control form-control-sm" name="firstNameKana"
									placeholder="姓カナ" > 
								<small id="firstNameKana" class="form-text text-muted"></small>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<label for="lastNameKana">名カナ:</label>
								<span class="text-danger">*</span> 
								<input type="text" class="form-control form-control-sm" name="lastNameKana"
									placeholder="名カナ" >
								<small id="lastNameKana" class="form-text text-muted"></small>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="gender">性別:&nbsp;&nbsp;</label> 
						<span class="text-danger">*</span>
						<input type="radio" name="gender" value="M">男&nbsp;&nbsp;&nbsp;
						<input type="radio" name="gender" value="F">女<br>
					</div>
					<div class="form-group">
						<label for="email">メールアドレス:</label>
						<span class="text-danger">*</span>
						<input type="text" class="form-control form-control-sm" name="email"
							placeholder="メールアドレス"> 
						<small id="email" class="form-text text-muted"></small>
					</div>
					<button type="submit" class="btn btn-primary btn-sm">登録</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>